@import "reset";
@import "fonts";
@import "colors";

@import "App";
@import "./components/Quiz";
@import "./components/ActiveQuiz";
@import "./components/AnswersList";
@import "./components/AnswerItem";
@import "./components/FinishedQuiz";
@import "./components/QuizList";
@import "./components/QuizCreator";
@import "./components/Auth";
@import "components/UI/Button";
@import "components/UI/Backdrop";
@import "components/UI/Input";
@import "components/UI/Select";
@import "components/Navigation/MenuToggle";
@import "components/Navigation/Drawer";

body {
  font-family: $mainFont;
  background: $bgColor;
  color: #fff;
}